# Configuration file
# Generated on 6/25/26 6:19 AM

####################
# modules 
####################

modules {
   automation=true
   buildcraft=true
   extras=true
   factory=true
   ic2=true
   rails=true
   signals=true
   structures=true
}

