#MLProperties: name (type:default) min:max -- information
#MLProp : IDList (java.lang.String:271; 275; 258; 286; 279) -- IDs of items that can chop down trees.Use ',' to split item id from metadata and ';' to split items.
#MLProp : logHardnessNormal (float:2.0) -- The hardness of logs for when you are using items that won't chop down the trees.
#MLProp : logHardnessModified (float:4.0) -- The hardness of logs for when you are using items that can chop down trees.
#MLProp : destroyLeaves (boolean:false) -- Enabling this will make leaves be dropped when trees are chopped.
#
#Thu Jun 25 21:41:56 GFT 2026
logHardnessModified=4.0
IDList=271; 275; 258; 286; 279
destroyLeaves=false
logHardnessNormal=2.0
