#MLProperties: name (type:default) min:max -- information
#MLProp : turtleBlockID (int:209,>=0.0,<=4095.0) -- The Block ID for turtles
#MLProp : turtleUpgradedBlockID (int:210,>=0.0,<=4095.0) -- The Block ID for upgraded turtles
#MLProp : turtlesNeedFuel (int:1,>=0.0,<=1.0) -- Enable hardcore mode (turtles require fuel to move)
#
#Thu Jun 25 02:42:14 GFT 2026
turtleUpgradedBlockID=210
turtleBlockID=209
turtlesNeedFuel=1
